$pr-black: #010302;
$pr-white: #fff5fb;
$pr-blue: #1a5276;
$pr-green: #4BCA81;
$pr-tan: #f39c12;
$pr-red: #ff6347;
$pr-yellow: #feee1f;

$pr-block-size: 50px;
$pr-baseline: 10px;

$pr-font-family: "Roboto", sans-serif;